[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mazing"]
	path = mazing
	url = https://github.com/kstreet13/mazing
	shallow = true
	registered = true
[submodule "scry"]
	path = scry
	url = https://github.com/kstreet13/scry
	shallow = true
	registered = true
[submodule "slingshot"]
	path = slingshot
	url = https://github.com/kstreet13/slingshot
	shallow = true
	registered = true
